<main class="container mt-5 pt-5">
  <div class="details-container p-4 shadow-lg rounded bg-light">
    <h2 class="heading text-center mb-4 text-light">
      <i class="material-icons align-middle">info_outline</i> About
    </h2>
    <div class="about-details">
      <p class="lead text-light">
        This weather app provides precise weather forecasts for locations worldwide, designed for a seamless user
        experience.
      </p>
      <h2 class="text-light mt-4 fw-bold">Key Features:</h2>
      <ul class="list-unstyled">
        <li class="d-flex align-items-center mb-3">
          <i class="material-icons text-light me-2">check_circle</i>
          Current weather conditions with real-time data
        </li>
        <li class="d-flex align-items-center mb-3">
          <i class="material-icons text-light me-2">check_circle</i>
          3-day forecasts for better planning
        </li>
        <li class="d-flex align-items-center">
          <i class="material-icons text-light me-2">check_circle</i>
          Hourly forecasts with detailed accuracy
        </li>
      </ul>
      <mat-divider class="fw-bold bg-light mt-4"></mat-divider>
      <div class="developer-info mt-4">
        <h4 class="d-inline">Developed by: </h4>
        <span>Rahul Panvalkar</span>
      </div>
      <div class="contact-info mt-2">
        <h4 class="d-inline">Contact: </h4>
        <a href="mailto:johndoe1@gmail.com" class="text-decoration-none">
          rahulpanvalkar59@gmail.com
        </a>
      </div>
    </div>
  </div>
</main>